# Dependencies
node_modules/

# Environment Variables
.env

# Logs
logs/
*.log

# Uploads
uploads/
!uploads/.gitkeep

# Sequelize
*.sqlite

# Coverage
coverage/

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Temporary Files
tmp/
temp/

# Build
dist/